<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sleekadthancsharp.Props.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="sleekadthancsharp.sleekadthan" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sleekadthancsharp.Props.settings>
            <setting name="Fajr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Sunrise" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Duhur" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Asr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Magrib" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Isha" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="enabled" serializeAs="String">
                <value>True</value>
            </setting>
        </sleekadthancsharp.Props.settings>
        <sleekadthancsharp.sleekadthan>
            <setting name="Fajr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Sunrise" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Duhur" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Asr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Magrib" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Isha" serializeAs="String">
                <value>2</value>
            </setting>
        </sleekadthancsharp.sleekadthan>
    </userSettings>
</configuration>